/* css/ajedrez.css */

#tablero {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 512px;
  height: 512px;
  border: 2px solid #333;
}

.celda {
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 24px;
}

.celda:nth-child(even) {
  background-color: #eee;
}

.celda:nth-child(odd) {
  background-color: #ddd;
}
