.fila-label,
.columnas-label {
  display: flex;
  align-items: center;
}

.fila-label {
  justify-content: flex-end;
  padding-right: 8px;
  flex-grow: 1;
}

.columnas-label {
  justify-content: space-between;
  height: 64px;
  width: 64px;  /* Agregamos un ancho para evitar que se expanda */
}

.celda {
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 24px;
  border: 1px solid #777;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.redondel {
  width: 80%;  /* Ajustamos el tamaño del redondel */
  height: 80%;
  border-radius: 50%;
  background-color: inherit;  /* Hacemos que el redondel tome el color de fondo de la celda */
  display: flex;
  align-items: center;
  justify-content: center;
}

.celda-blanca {
  background-color: #eee;
}

.celda-negra {
  background-color: #ddd;
}
