/* Estilo general */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Color de fondo general */
  margin: 0;
  padding: 0;
}

#chat-container {
  background-color: #fff; /* Fondo blanco para el contenedor del chat */
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilo de mensajes */
.mensaje-robot {
  background-color: #f2f2f2; /* Fondo gris claro para respuestas del chatbot */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.mensaje-usuario {
  background-color: #fff; /* Fondo blanco para mensajes del usuario */
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

/* Estilo para el campo de entrada y botón */
#input-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#userInput {
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

#enviar {
  background-color: #007bff; /* Color de fondo del botón Enviar */
  color: #fff; /* Color de texto del botón Enviar */
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
  #chat-container {
    font-size: 1.2rem; /* Aumenta el tamaño de fuente en el contenedor principal */
  }
  #input-container {
    padding: 1rem; /* Aumenta el relleno para el contenedor de entrada */
  }
  #userInput {
    font-size: 1.5rem; /* Aumenta el tamaño de fuente del campo de entrada */
    padding: 0.5rem; /* Aumenta el relleno del campo de entrada */
  }
  #enviar {
    font-size: 1.2rem; /* Aumenta el tamaño de fuente del botón */
    padding: 0.5rem 1rem; /* Aumenta el relleno del botón */
  }
  .mensaje-robot,
  .mensaje-usuario {
    font-size: 1.2rem; /* Aumenta el tamaño de fuente de los mensajes del chat */
  }
}
