/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #eee;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

/* Estilo para los enlaces del menú superior */
nav li a {
    text-decoration: none;
    color: #eee;
    transition: color 0.3s; /* Transición de color al pasar el ratón */
}

/* Cambia el color al pasar el ratón por encima de los enlaces del menú superior */
nav li a:hover {
    color: #ff8800; /* Color de enlace al pasar el ratón por encima */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.grid-item {
    background-color: #444;
    padding: 20px;
    text-align: center;
}

/* Estilo para los enlaces de la grilla */
.grid-item a {
    text-decoration: none;
    color: #eee;
    transition: color 0.3s; /* Transición de color al pasar el ratón */
}

/* Cambia el color al pasar el ratón por encima de los enlaces de la grilla */
.grid-item a:hover {
    color: #ff8800; /* Color de enlace al pasar el ratón por encima */
}
