/* Estilo para la Simulación de Guerra Termonuclear */
body {
    font-family: monospace, Arial, sans-serif;
    background-color: black;
    color: #3498db; /* Azul claro */
    text-align: left;
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

#chatbox {
    margin-top: 20px;
}

#chat {
    font-size: 24px;
}

input[type="text"] {
    background-color: black;
    color: #3498db; /* Azul claro */
    border: none;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
    width: 100%;
}

button {
    background-color: black;
    color: #3498db; /* Azul claro */
    border: none;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin-top: 10px;
}

button:hover {
    background-color: #3498db; /* Azul claro */
    color: black;
}
