/* Estilo retro de los años 80 para la pantalla */
body {
    background-color: #000; /* Fondo negro */
    font-family: 'Press Start 2P', cursive; /* Fuente estilo píxel */
    color: #00a0ff; /* Texto azul clarito */
    text-align: center;
    margin: 0;
    padding: 0;
}
