/* Estilo para el contenedor principal del chat */
#chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /*100vh;*/ /* 100% de la altura de la ventana */
}

/* Estilo para el contenedor de chat */
#chat {
  flex: 1; /* El chat ocupará el espacio disponible */
  overflow-y: auto; /* Barra de desplazamiento vertical si es necesario */
  padding: 1rem; /* Usar unidades relativas */
  font-size: 1rem; /* Tamaño de fuente relativo */
}

/* Estilo para los mensajes de usuario y robot */
.mensaje-usuario, .mensaje-robot {
  padding: 1rem;
  border-radius: 0;
  /* margin-bottom: 1rem; */
   /* Ancho máximo del mensaje */

  /* Establecer colores de fondo y texto */
  background-color: #fff; /* Fondo blanco para mensajes de usuario */
  color: #333; /* Texto oscuro para mensajes de usuario */
  border-bottom: 1px solid #ddd; /* Borde del mensaje (puedes ajustar el color) */
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

/* Estilo para los mensajes del usuario */
.mensaje-usuario {
  align-self: flex-end; /* Alineación a la derecha */
  background-color: #ffffff;
  color: #000;
}

/* Estilo para los mensajes del robot */
.mensaje-robot {
  align-self: flex-start; /* Alineación a la izquierda para el chatbot */
  background-color: #f7f7f7; /* Fondo gris claro para mensajes del chatbot */
  color: #333; /* Texto oscuro para mensajes del chatbot */
  /* border: 1px solid #ddd; */ /* Borde del mensaje (puedes ajustar el color) */
}

/* Estilo para el contenedor de entrada */
#input-container {
  display: flex;
  position: fixed;
  align-items: center;
  background: #f7f7f7;
  padding: 1rem; /* Usar unidades relativas */
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Añadir sombra para destacar la parte inferior */
      border-top: 1px solid #ccc;
      bottom: 0;
      left: 0;
      right: 0;
}

/* Estilo para el campo de entrada de texto */
#userInput {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 1rem;
  border-radius: 5px; /* Mejora el diseño en pantallas pequeñas */
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Estilo para el botón de enviar */
#enviar {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#enviar:hover {
  background: #0056b3;
}

button {
    margin-right: 15px;
	border-radius: 5px;
}
button:last-child {
	margin-right: 0px;
}


/* Estilo para el contenedor principal del chat en modo nocturno */
body.modo-nocturno #chat-container {
  background-color: #2c2c2c;
}

/* Estilo para el contenedor de chat en modo nocturno */
body.modo-nocturno #chat {
  background-color: #1e1e1e;
  color: #f1f1f1;
}

/* Estilo para los mensajes de usuario y robot en modo nocturno */
body.modo-nocturno .mensaje-usuario, 
body.modo-nocturno .mensaje-robot {
  background-color: #333;
  color: #f1f1f1;
  border-bottom: 1px solid #555;
}

/* Estilo para los mensajes del usuario en modo nocturno */
body.modo-nocturno .mensaje-usuario {
  background-color: #444;
  color: #f1f1f1;
}

/* Estilo para los mensajes del robot en modo nocturno */
body.modo-nocturno .mensaje-robot {
  background-color: #383838;
  color: #f1f1f1;
}

/* Estilo para el contenedor de entrada en modo nocturno */
body.modo-nocturno #input-container {
  background: #333;
  color: #f1f1f1;
}

/* Estilo para el campo de entrada de texto en modo nocturno */
body.modo-nocturno #userInput {
  background: #444;
  color: #f1f1f1;
  border: 1px solid #555;
}

/* Estilo para el botón de enviar en modo nocturno */
body.modo-nocturno #enviar {
  background: #555;
  color: #fff;
  border: none;
}

/* Estilo para el botón de alternar modo */
#btnModo, #fullscreenBtn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

body.modo-nocturno #btnModo, body.modo-nocturno #fullscreenBtn {
  background: #555;
  color: #fff;
}

/* Estilo para dispositivos móviles */
@media screen and (max-width: 768px) {
  #chat-container {
    height: calc(100vh - 95px); /* Deja espacio para barras de navegación en móviles */
  }

  #input-container {
    flex-direction: column;
    padding: 0.5rem;
  }
  
  .mensaje-robot, .mensaje-usuario {
    font-size: 1.2rem; /* Aumenta el tamaño de fuente de los mensajes del chat */
  }

  #userInput {
    font-size: 1.1rem;
    padding: 0.7rem;
    margin-right: 0;
    margin-bottom: 0.5rem; /* Añade espacio entre el input y el botón */
    width: 100%; /* Asegura que el campo de entrada ocupe todo el ancho */
  }
  
  #controles {
	  display:inline-table;
	  width: 100%;
  }
  #enviar {
    font-size: 1.0rem;
	width: 67%;
  }
  button {
	margin-right: 5px;
    margin-bottom: 0px;
	width:15%;
  }
}
