<!DOCTYPE html>
<html lang="es" xml:lang="es">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>modojuego: website de juegos</title>
		<meta name="description" content="website de juegos" />
		<meta name="author" content="Sucendo" />
	
		<% include ../partials/header.ejs %>
	</head>

	<body>        
		<!--CONTENIDO-->
		<div class="container">
			<!-- Top Navigation -->
			<header class="header">
				<h1>modojuego <span>website de juegos</span></h1>
			</header>
		</div>
    	</body>
	
</html>
